[Unit]
Description=Check Git for BirdCanvas updates

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Persistent=true
Unit=birdcanvas-auto-deploy.service

[Install]
WantedBy=timers.target
